<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Log In</title>
    </head>
    <body>
        <% if (locals.user) {%>
            <h1> Welcome back <%= user.username %></h1>
            <a href="/log-out">Log Out</a>
        <% } else { %>
            <h1> Welcome members and non-members! </h1>
            <form action="/log-in" method="POST">
                <label for="username">Email:</label>
                <input id="username" name="username" placeholder="Your@email.com" type="email" />
                <label for="password">Password</label>
                <input id="password" name="password" type="password" />
                <button>Log In</button>
            </form>
            <%- include("errors.ejs") %>
        <% } %>
    </body>
    <form action="/sign-up" method="GET"> 
        <button>Sign Up</button>
    </form>
</html>